@import '../../assets/scss/colors.scss';

.navbar{
    height: 70px;
    padding: 15px;
    box-shadow: 0 2px 9px -4px rgba(0, 0, 0, 0.2);

    &__search{
        gap:10px;
        &__input{
            min-width: 300px;
            max-width: 400px;
            border: 1px rgba(0, 0, 0, 0.2) solid;
            height: 20px;
        }

    }

    &__buttons{
        gap:10px;

        &__profile-details{

            gap:10px;
            cursor: pointer;

            img{
                width: 30px;
                height: 30px;
                border-radius: 30px;
            }

            p{
                font-size: 12px;
            }
        }
    }
}

.state-training{
    &:before{
        content:'';
        width: 10px;
        height: 10px;
        background-color:$training;
        position: absolute;
        border-radius: 30px;
        margin-top: 22px;
    }
}

.state-idle{
    &:before{
        content:'';
        width: 10px;
        height: 10px;
        background-color:$idle;
        position: absolute;
        border-radius: 30px;
        margin-top: 22px;
    }
}

.state-working{
    &:before{
        content:'';
        width: 10px;
        height: 10px;
        background-color:$working;
        position: absolute;
        border-radius: 30px;
        margin-top: 22px;
    }
}

.state-brb{
    &:before{
        content:'';
        width: 10px;
        height: 10px;
        background-color:$brb;
        position: absolute;
        border-radius: 30px;
        margin-top: 22px;
    }
}